body {
    background:linear-gradient(to bottom right, orange, orange, red, orange, orange);
   
}

#main {
    position: relative;
    background-color: gray;
    height: 1000px;
    border-radius: 25px 25px 0 0;
    padding: 25px;
    margin: 15% 10% 0 10%;
    color: white;
    font-family: 'Segoe UI';
}

